<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @entry.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<%= link_to 'Edit', edit_category_entry_path(@category, @entry) %> |
<%= link_to 'Back', category_entries_path(@category) %>
