<div class = "container">
  <div class = "row">
    <h1 class = "mt-2">Entries</h1>
    <p id="notice"><%= notice %></p>

    <section class = "col-7"> 


      <% @entries.each do |entry| %>
      <div class="card">
        <div class="card-body">
          <span class="badge rounded-pill bg-primary"><%= entry.category.title %></span>
          <h4 class="card-title mt-2"><%= link_to entry.title, category_entry_path(entry.category.id, entry.id), :class => "remove-link-underline"%></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= entry.date.strftime('%b %e, %Y') %></h6>
          <p class="card-text"><%= entry.body %></p>
          <%= link_to 'Edit', edit_category_entry_path(entry.category.id, entry.id), :class => "card-link" %>
          <%= link_to 'Delete', category_entry_path(entry.category.id, entry.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "card-link" %>
        </div>
      </div>
      <% end %>

    </section>


      <%# @categories.each do |category| %>
      <%#= link_to category.title, entries_path(:cate => category.id) %>
      <%# end %>
      <%#= link_to 'All Entries', entries_path %>

      <%#= link_to 'New Entry', new_category_entry_path(@category) %>
    <section class = "col-5">
      <ul class="list-group">

        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <%= link_to 'All Entries', entries_path, :class => "remove-link-underline" %>
          <span class="badge bg-primary rounded-pill"><%= current_user.entries.count%></span>
        </li>

        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <%= link_to 'Today', entries_path(:day => Date.current), :class => "remove-link-underline" %>
          <span class="badge bg-primary rounded-pill"><%= current_user.entries.where(:date => Date.current).count%></span>
        </li>

        <% current_user.entries.map(&:date).uniq.each do |date| %>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <%= link_to date.to_date.strftime('%b %e, %Y'), entries_path(:day => date), :class => "remove-link-underline" %>
            <span class="badge bg-primary rounded-pill"><%= current_user.entries.where(:date => date).count %></span>
          </li>
        <% end %>

      </ul>
    </section>

  </div>
</div>

