<%#= link_to 'Entries', category_entries_path(category) %>

<div class = "container">
  <section class = "col-7 mx-auto">
  <h1 class = "mt-4">Categories</h1>

    <% @categories.each do |category| %>

      <div class="card my-5">

        <h3 class="card-header"><%= link_to category.title, category, :class => "remove-link-underline"%></h3>
        <div class="card-body">
          <p class="card-text"><%= category.description %></p>
          <%= link_to 'Edit', edit_category_path(category), :class => "card-link" %>
          <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "card-link" %>
        </div>

        <%# if there is an entry in category, it will be displayed at the bottom of the category card %>
        <% if category.entries.count > 0 %>
          <div class="card-footer text-primary"> Entries:</div>
            <ul class="list-group list-group-flush">

              <% category.entries.each do |entry| %>
                <li class="list-group-item "><%=link_to entry.title, category_entry_path(entry.category.id, entry.id)%></li>
              <%end%>

            </ul>
        <%end%>

        <%# <% <li class="list-group">+ Add Entry</li> %>
      </div>

    <% end %>

    <div class="card my-5">
      <div class="card-body list-group-item-action text-center">
        <%= link_to '+ New Category', new_category_path, :class => "remove-link-underline"%>
      </div>
    </div>


  </section>
</div>